.main {
  background-color: rgba(0, 0, 0, 0.5);
}

.link {
  float: left;
  margin-top: 5%;
}

hr {
  color: white;
}

/* h1 {
  margin-right: 10%;
} */

/* .section {
  border-style: solid;
  border-color: white;
  padding: 2%;
  border-radius: 10px;
} */
